/*ID*/
.node-type-list dd{
  padding-left:.5em;
}
.poll .bar{
  background:#fff url(../images/poll-bg.png) 0 0;
}
.poll .bar .foreground {
  background:#9f5;
}
.terms{
  padding:.3em 0 .3em 20px;
  background:#fff url(../images/tags-bg.png) 0 .3em no-repeat;
}
.comment_add a{
  background:#fff url(../images/comment-bubble.png) 0 0 no-repeat;
  display:block;
  float:left;
  width:22px;
  height:22px;
  padding:0 5px;
  text-indent:-9999px;
}
.comment_comments a{
  background:#fff url(../images/comment-bubble.png) 0 0 no-repeat;
  padding:.3em 0 .3em 25px;
}
.node_read_more a{
  background:#fff url(../images/read-more.png) 0 0 no-repeat;
  display:block;
  float:left;
  width:22px;
  height:22px;
  text-indent:-9999px;
  padding:0 5px;  
}
.comment_add a:hover,
.comment_comments a:hover{
  background-position:0 -27px;
}
.node_read_more a:hover{
  background-position:0 -25px;
}

#social {position:absolute; bottom:175px; right:0;}
#social li {float: left; display: inline; margin-right: 0; margin-left: 3px; font-size: 11px; } 
/*************************************************
 * Backgrounds
**************************************************/
.header-wrapper{
  background:#e5e5e5 url(../images/body-bg.png) 0 bottom repeat-x;
}
body.admin-menu{
  background-position:0 20px;
}
#header{
  background:transparent url(../images/header-bg.png) 50% bottom no-repeat;
}
#main-navigation-wrapper .primary-links ul li{
  background:transparent url(../images/divider2.gif) right top repeat-y;
}
#mission{
  background:#f9f9f9;
  border:1px #b6bdc1 solid;
}
.footer-wrapper{
  background:#c05304 url(../images/footer-bg.png) 50% top no-repeat;
  border-top:5px #ececec solid;
}
.block h2.title{
  border-bottom:1px solid #EDEDED;
}
/*** Form Styles ***/
input,select,texarea{
  border:3px #ccc solid;
}
input:focus{
  border-color:#007D9A;
}
input.form-submit {
-moz-border-radius:5px 5px 5px 5px;
-moz-box-shadow:0 1px 3px #fff;
background-color:#007D9A;
border:none;
border-bottom:1px solid #ccc;
border-color: rgba(0, 0, 0, 0.25);
}
input.form-submit:hover {
background-color:#2DAEBF;
}
/*************************************************
 * Fonts and colors
**************************************************/
body{
  color:#414141;
  font-family:Tahoma,Arial,helvetica,sans-serif;
}
.copyright{
  text-align:center;
  font-size:.8em;
}
h1#page-title,
.block h2.title{
  color:#656565;
  font: normal 1.8em/1em "trebuchet MS",Helvetica,sans-serif;
  margin-bottom:17px;
  padding-bottom:5px;
  text-transform:uppercase;
}
/*Links*/
a,a:link,a:visited{
  color:#CC7108;
  outline:medium none;
}
a:hover{
  text-decoration:underline;
}
.primary-links a,
h2.title a,
.breadcrumb a,
.site-name a{
  text-decoration:none;
}
#footer,
div.footer-message{
  color:#fff;
}
div.footer-message{
  text-align:center;
}
#footer a,
h2.title a:hover,
.breadcrumb a:hover,
.site-name a:hover{
  color:#fbcf19;
}

/*** Form Styles ***/
input.form-submit {
color:#FFF !important;
cursor:pointer;
font-size:1.05em;
line-height:1;
text-decoration:none;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
}
input#edit-submit{
  font-weight:bold;
}
/*************************************************
 * HTML Elements
**************************************************/
ol,ul{
  padding: 0 0 0 .5em;
  list-style-position:inside;
}
ol{
  list-style-type: decimal;
}
ul {
  list-style-type: circle;
}
pre{
  overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  /* width: 99%; */
  word-wrap: break-word; /* Internet Explorer 5.5+ */


}
/*************************************************
 * Layout
**************************************************/
#header{
  display:block;
  padding-top:60px;
  height:280px;
  position:relative;
}
.search-box #header{
  padding-top:90px;
}
#search-theme-form{
  border:none;
  background-color:transparent;
  padding:0 0.5em;
  right:0;
  top:5px;
}
#search-theme-form input.form-text{
  border-width:1px;
  padding:.2em;
} 
#header #search-theme-form input.form-submit{
  width:auto;
}
#sidebar-first,
#sidebar-second{/*IE fix*/
  overflow:hidden;
}
#sidebar-first .block
#sidebar-second .block {
  display:block;
  margin-top:0;
}
#sidebar-first .block ul,
#sidebar-second .block ul{
  padding-left:0
}
#sidebar-first .block .title,
#sidebar-second .block .title{
  font-weight:normal;
}
.logo-img{
  display:block;
  position:absolute;
  top:70px;
  left:0;
}
.search-box .logo-img{
  top:100px;
}
.site-name{
  font-size:50px;
  margin:25px 0 0 200px;
  display:block;
}

.search-box .site-name{
  top:70px;
  left:150px;
}
div.site-slogan{
  clear:both;
  margin:1em 0 0 200px;
}
.header-message{
  margin:20px 0 0;
  color:#fff;
  font-size:1.2em;
}
.header-message a{
  color:#e7e754;
  text-decoration:none;
}
.header-message a:hover{
  color:#fff;
}
h1#page-title{
  margin-bottom: 2px;
  padding-bottom:0;
}
.content-output{
  margin-top:10px;
}
#mission{
  border:4px #ccc double;
  margin:10px 0 20px;
}
.blog_post .date,
.node .post-info{
  border-top:1px #d2d2d2 solid;
  font-size:.9em; 
}
.teaser .post-info,
.node .post-info{
  clear:both;
  padding-left:.5em;
}

.node h2.title{
  border-top:1px #d2d2d2 solid;
  border-bottom:1px #d2d2d2 solid; 
  padding:.2em 0;
  margin-bottom:.2em; 
}
.node .terms{
  border-top:1px #d2d2d2 dotted;
  border-bottom:1px #d2d2d2 dotted; 
  margin-bottom:1em;
  font-size:.8em;
  clear:both;
}
.content-output .content{
  margin-top:1em;
  padding-left:.5em;
}
.post-links{
  font-size:.8em;
}
/************************************************
 ***  Main Navigation Style 
*************************************************/
#main-navigation-wrapper {
  width:100%;
  border-top:2px #fff solid;
  border-bottom:2px #fff solid;  
  background-color:#444;
  padding:0;
  top:10px;
  height:40px;
}
.search-box #main-navigation-wrapper {
  top:40px;
}
#main-navigation-wrapper .primary-links{
  width:960px;
  margin:0 auto;
  position:relative;
}
.primary-links ul{
  position:absolute;
  top:5px;
  left:0;
}
.primary-links ul.links li{
  padding-right:2px;
  float:left;
}
.primary-links ul.links li a{
  border:none;
  background:none;
  font-weight:normal;
  color:#bfbfbf;
}
.primary-links ul.links li a:hover{
  color:#fff;
}
#secondary-navigation-wrapper{
  width:100%;
  position:absolute;
  top:298px;
}
.search-box #secondary-navigation-wrapper{
  top:330px;
}
#secondary-navigation{
  display:block;
}
.secondary-links ul li a{
  display:block;
  float:left;
  padding:10px 20px 0;
  margin-right:1px;
  background-color:#e5e5e5;
  color:#636363;
  font-weight:bold;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-radius-topleft: 5px; 
  text-shadow: 1px 1px 0 #fff; 
  text-decoration:none;
}
.secondary-links ul li a:hover{
  color:#222;
}
.secondary-links ul li a.active,
.secondary-links ul li a.active:hover{
  color:#222;
  text-decoration:none;
}
/*** ****************************************************
******** Footer elements Style 
 ********************************************************/
#footer .block ul li{display:inline;}
/*** Front Page Style ***/
.front #block-views-blog_posts-block_4 ul.last-blogs{
  padding-left:0;
}
/**********************************************************
*******  Common Elements Form Styles 
***********************************************************/
input.form-text{padding:.5em 0 .5em .5em;}
html.js input.form-autocomplete{background-position:100% 9px;}
html.js input.throbbing{background-position:100% -12px;}
input.form-submit {
  display:inline-block;
  overflow:visible;
  padding:5px 15px 6px;
  position:relative;
  width:auto;  
}
/*****************************************************
*****  Comments Style
*****************************************************/
/* Comment form */
#comment-form .form-item,#contact-mail-page .form-item{margin:0 0 .5em;overflow:hidden; position:relative; height:30px}
#comment-form .form-item label,#contact-mail-page .form-item label{float:left; display:block; margin-right:10px}
#comment-form input.form-text,#contact-mail-page .form-item input.form-text{position:absolute; left:120px;width: 300px;	margin-bottom: 10px; }
#comment-form textarea{border:2px #ccc solid; padding:.5em}
#comment-form #edit-comment-wrapper,#contact-mail-page #edit-message-wrapper{height:auto}
#comment-form .form-button,#comment-form .form-submit{margin-top:.5em}
#comment-form .notify-box .form-item{margin:0; font-size:.8em; padding:0}
#comment-form .notify-box .form-radios{margin:0;}
/* Comments wrapper */
#comments{padding:0}
#comments h2.comment-counter{border-top:2px #ccc solid;padding:.2em 0;}
#comments .box h2{display:none}
/* Comment box style */
#comments{
}
.comment{
  background: #fff;
  padding:0 0 10px;
}
.comment .comment-info{
  position:relative;
  padding-left:40px;
  border-bottom:1px #ccc solid;
  border-top:2px #ccc solid;
}
.comment .comment-info .date{
  float:right;
}
.comment .comment-info:after {

} 
.comment .comment-info .comment-name{display:inline;}
.comment .comment-info .comment-permalink{
  position:absolute;
  top:0;
  left:5px;
}
.comment .comment-content{}
.comment-by-author .comment-content{
  background:#f2f2f2;
}
.comment .comment-content .content{
  margin:0;
  padding:.5em 0.5em 0;
}
/*****************************************************
*****  Contact Form Style
*****************************************************/
#contact-mail-page #edit-message-wrapper label{ display:none;}
#contact-mail-page .form-item input.form-text{ left:200px;}

/*****************************************************
*****  Common Elements Styles
*****************************************************/
.content-output .more-link a,
.content-output .read-more a{
-moz-border-radius:2px;
-moz-box-shadow:0 1px 3px #fff;
background-color:#007D9A;
border:none;
border-bottom:1px solid #ccc;
border-color:rgba(0, 0, 0, 0.25);
color:#FFF !important;
font-size:.8em;
padding:.2em.5em;
cursor:pointer;
text-decoration:none;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
width:auto; 
}
.content-output .more-link a:hover,
.content-output .read-more a:hover {
background-color:#2DAEBF;
}
/*****************************************************
*****  Form Description Styles
*****************************************************/
.form-item{
  position:relative;
  padding:5px 0;
}
.fieldset .description { margin:0px 0px 10px; }
.content-output .form-item{
  overflow: visible;
}
.content-output .form-item .description{
  text-indent:-9999px;
  height:20px;
  margin-top:3px;
  text-indent:-9999px;
  width:20px;
  color:#1a1a1a;
  background:transparent url(../images/question-icon3.jpeg) 0 0 no-repeat;
}
.content-output .form-item .description ul{
  list-style-position:inside;
  display:none;
}
.content-output .form-item .description:hover{
  text-indent:0;
  height:auto;
  width:auto;
  padding-left:25px;
 
  /*CSS3*/
  background:#fff;    
  background:-moz-linear-gradient(top, #efefef,#fff );
  background:linear-gradient(top, #efefef, #fff);
  background-image:url(../images/question-icon3.jpeg);
  background-position: 0 0;
  background-repeat:no-repeat;     
} 

.content-output .form-item .description:hover ul{}
  /*jquery descripion style*/
  .help-text{
    font-size:14px;
    line-height:20px;
    text-indent:-9999px;
    padding:2px 15px 2px 10px;
    background:transparent url(../images/question-icon3.jpeg) 50% 50% no-repeat;    
  }
  .pop-description{
    color:#333;
    border:1px solid #d8e4e0;

    width:350px;
    margin:0px 0px -15px;
    padding:9px 15px 20px;
  
    background:#fff;

    /* css3 */
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:10px;
    background:-moz-linear-gradient(top, #efefef,#fff );
    background:linear-gradient(top, #efefef, #fff); 
  }

/*front page style*/
.front .content-output .block{}
.front .content-output .block h2.title{
  border-top:1px #ccc solid;
  border-bottom:1px #ccc solid;  
}
.front .content-output .block ul{
  padding-left:0;
  padding-top:.5em;
}
.front .content-output .view-blog-posts .more-link,
.front .content-output .block .section{
  padding-left:1.5em;
}
.front .content-output .block .more-link{
  text-align:left;
  margin-left:0 !important;
}
/* Superfish style for itworld */
.superfish .primary-links ul{
  margin-bottom:0;
}
.superfish .primary-links ul li:hover ul,
.superfish .primary-links ul li.sfHover ul {
	top:			35px; /* match top ul list item height */
  background:#333;  
}
.superfish .primary-links ul ul li{
  border-top:1px #ccc solid;
}
.superfish .primary-link ul li{}
.superfish .primary-links ul a, 
.superfish .primary-links ul a:visited{
  border:none;
  background:none;
  font-weight:normal;
  color:#bfbfbf;
  padding:.5em;
}
.superfish .primary-links ul li:hover, .superfish .primary-links ul li.sfHover,
.superfish .primary-links ul a:focus, .superfish .primary-links ul a:hover, 
.superfish .primary-links ul a:active {
	background:		transparent;
  color:#fff;
}

